.register__wrapper {
    background-color: #fff;
    min-height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.register__content {
    width: 100%;
    max-width: 500px;
    padding: 20px;
}

.register__title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #333;
}

.form-group {
    margin-bottom: 25px;
}

.form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.form-input {
    width: 100%;
    padding: 12px;
    border: 1px solid #333;
    border-radius: 4px;
    font-size: 16px;
}

.error-message {
    color: #ff0000;
    font-size: 14px;
    margin-top: 5px;
}

.form-actions {
    text-align: center;
    margin-top: 70px;
}

.btn-submit {
    width: 100%;
    background-color: #eb6a62;
    color: #fff;
    border: none;
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}

.login-link {
    display: block;
    margin-top: 20px;
    color: #3b82f6;;
    text-decoration: none;
    font-size: 14px;
}


@media screen and (max-width: 480px) {
    .register__content {
        width: 90%;
        padding: 10px;
    }

    .register__title {
        font-size: 20px;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .form-input {
        padding: 15px;
        font-size: 16px;
    }

    .form-actions {
        margin-top: 40px;
    }

    .btn-submit {
        padding: 15px;
        font-size: 16px;
    }
}